---
import Link from "@components/ui/link.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <!-- You can place an image or illustration here -->
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Transformez vos leads<br />en clients avec l'IA
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Merkur engage vos prospects sur WhatsApp et répond instantanément à leurs questions. Réservez un appel sans intervention humaine et boostez vos conversions.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        class="flex gap-1 items-center justify-center">
        Essayez
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#"
        class="flex gap-1 items-center justify-center">
        Démo
      </Link>
    </div>
  </div>
</main>
